.spotsList_container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 50px ; */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 70px;
}

.spot_container {
  width: 200px;
  margin: 10px 10px 0px 0px;

}

.spot_container img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.spot_container h4 {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 230px;
  text-align: center;
  font-weight: 550;
}

.spot_link {
  text-decoration: none;
  color: black;
}

.spot_preview {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.spot_price {
  font-weight: bold;
}

.no-show {
  color: white;
}



