.spotsList_container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px 50px ; */

  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 50px;
  margin: 50px;
}

.spot_container {
  width: 300px;
  margin: 10px 10px 0px 0px;
}

.spot_container img {
  height: 240px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.spot_container h4 {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 260px;
  text-align: center;
  font-weight: bold;
}

.spot_container h2 {
  color: white;
}

.spot_link {
  text-decoration: none;
  color: black;
}

.spot_info {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.spot_price {
  font-weight: bold;
}
